{% extends 'base.html' %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="card w-50 mb-3 p-2" style="width: 38rem;">
      <div class ="card text-white bg-success mb-3">
      <div class="card-body">
        <h1 class="card-title">
          {{ task.title }}
        </h1>
        <p>
          <strong>Description:</strong>
          {{ task.description }}
        </p>
        <p>
          <strong>Date Added:</strong>
          {{ task.date_added }}
        </p>
        <p>
          <strong>Due Date:</strong>
          {{ task.due_date }}
        </p>
        <p>
          <strong>Priority Level:</strong>
          {{ task.priority }}
        </p>
        <p>
          <strong>Completed:</strong>
          {{ task.completed }}
        </p>

      </div>
    </div>
      <div class="card-action">
        <a href="{% url 'task_delete' task.id %}">Terminate</a>
        <a href="{% url 'task_update' task.id %}">Edit Task</a>
      </div>
    </div>
  </div>
</div>


{% endblock content %}