{% extends 'base.html' %}
{% block breadcrumbs %}
<li class="active breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="active breadcrumb-item"><a href="{% url 'tasks_index' %}">All Tasks</a></li>

{% if object %}
<li class="active breadcrumb-item">Edit Task</li>
{% endif %}
<li class="active breadcrumb-item">Create Task</li>
{% endblock breadcrumbs %}

{% block content %}
{% load crispy_forms_tags %}
{% if object %}
<br>
<br>
<br>
<div class="row d-flex justify-content-center">
  <div class="card w-50 mb-3 p-2 text-left mb-3 text-dark text-decoration-none border-0">
    <div class="text-center">
      <h1>Edit</h1>
    </div>
    {% else %}
    <br>
    <br>
    <br>
    <div class="row d-flex justify-content-center">
      <div class="card w-50 mb-3 p-2 text-left mb-3 text-dark text-decoration-none border-0">
        <div class="text-center">
          <h1>Add Task</h1>
        </div>

        {% endif %}
        <!-- Leaving the action empty makes the form post to the same url used to display it -->
        <form action="" method="post">
          <!-- Django requires the following for security purposes -->
          {% csrf_token %}
          <table>
            <!-- Render the inputs inside of <tr>s & <td>s -->
            {{ form|crispy }}
          </table>
          <br>
          <div class="text-center"><input type="submit" value="Submit!" class="btn btn btn btn btn-success">
        </form>
      </div>
    </div>
  </div>
</div>


<script>
  const date1 = document.querySelector('#id_date_added')
  const date2 = document.querySelector('#id_due_date')

  date1.type = 'datetime-local'
  date2.type = 'datetime-local'
</script>

{% endblock %}