{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <h1 class="card-title">
          {{ task.title }}
        </h1>
        <p>
          <strong>Description:</strong>
          {{ task.description }}
        </p>
        <p>
          <strong>Date Added:</strong>
          {{ task.date_added }}
        </p>
        <p>
          <strong>Due Date:</strong>
          {{ task.due_date }}
        </p>
        <p>
          <strong>Priority Level:</strong>
          {{ task.priority }}
        </p>
        <p>
          <strong>Completed:</strong>
          {{ task.completed }}
        </p>

      </div>
      <div class="card-action">
        <a href="{% url 'task_delete' task.id %}">Terminate</a>
        <a href="{% url 'task_update' task.id %}">Edit Task</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}