{% extends 'base.html' %}
{% block breadcrumbs %}
<li class="active breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="active breadcrumb-item"><a href="{% url 'tasks_index' %}">All Tasks</a></li>
<li class="active breadcrumb-item"><a href="{% url 'detail' task.id %}">{{task.title}}</a></li>
<li class="active breadcrumb-item">Delete Task</li>
{% endblock breadcrumbs %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="row d-flex justify-content-center">
  <div class="card w-50 mb-3 p-2 text-center mb-3 text-dark text-decoration-none">
    <h1>Terminate a Task</h1>

    <h4>Are you sure you want to terminate? <span class="teal-text">
        {{ object.name }}</span></h4>

    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes - Terminate!" class=" btn btn-danger">
      <a class="btn btn-warning" href="{% url 'detail' task.id%}">Cancel</a>
    </form>
  </div>
</div>

{% endblock content %}