{% extends 'base.html' %}


{% block content %}
<br>
<br>
<br>
<div class="text-center">
  <h1 class="mb-5">Task List</h1>
</div>

{% if task_list.count %}
{% for task in task_list %}

<div class="row d-flex justify-content-center">
  <a class="card w-50 mb-3 p-2 text-center border mb-3 text-dark text-decoration-none position-relative
  {% if task.completed %}
    border-success
  {% else %}
    border-danger
  {% endif %}
    " href="{% url 'detail' task.id %}">
    <div class="card-body">
      <div>
        <span class="position-absolute rounded-pill top-0 start-100 me-5 translate-middle badge
      {% if task.completed %}
        bg-success
      {% elif task.priority == 1 %}
        bg-secondary
      {% elif task.priority == 2 %}
        bg-warning
      {% elif task.priority == 3 %}
        bg-danger
      {% endif %}
        
      ">

          {% if task.completed %}
          Task Complete
          {% else %}
          Priority {{task.priority}}
          {% endif %}

        </span>
        <span class="visually-hidden">Task Priority</span>
      </div>
      <h1 class="card-title">
        {{ task.title }}
      </h1>
      <p> Due Date:
        {{ task.due_date }}
      </p>
      <p> Priority Level:
        {{ task.priority }}
      </p>
    </div>
  </a>
</div>
{% endfor %}
{% else %}
<h1>Woops... nothing here</h1>
<p>Why don't you add some tasks to do? Could it be you've already forgotten about them...</p>
<a href="{% url 'task_create' %}">Add Task</a>
{% endif %}


{% endblock content %}