{% extends 'base.html' %}


{% block content %}
<br>
<br>
<br>
<div class="text-center">
	<h1>Task List</h1>
</div>

{% if task_list.count %}
{% for task in task_list %}

<div class="row d-flex justify-content-center">
	<a class="card w-50 mb-3 p-2 text-center border border-secondary mb-3 border border-2 text-dark text-decoration-none"
		href="{% url 'detail' task.id %}"> 
		<div class="card-body">
			<h1 class="card-title">
				{{ task.title }}</h1>
			<p> Due Date:
				{{ task.due_date }}
			</p>
			<p> Priority Level:
				{{ task.priority }}
			</p>
			<p> Completed:
				{{ task.completed }}
			</p>
		</div>
	</a>
</div>
{% endfor %}
{% else %}
<h1>Woops... nothing here</h1>
<p>Why don't you add some tasks to do? Could it be you've already forgotten about them...</p>
<a href="{% url 'task_create' %}">Add Task</a>
{% endif %}


{% endblock content %}