{% extends 'base.html' %}


{% block content %}
<div class="mt-3 ">
  <h1 class="text-capitalize">Welcome, {{user}}</h1>
  <p class="lead">Please take a moment to look around.</p>
</div>

<div class="row mt-5">
  <div class="col">
    <h2>Personal Info</h2>
    <p class="text-capitalize">{{user.first_name}} {{user.last_name}}</p>
    <p>{{user.email}}</p>
  </div>
  <div class="col">
    <h2>Tasks</h2>

    {% if not tasks.count %}
    <p>You have {{tasks.count}} tasks in your to-do list. Lets get some done!</p>
    {% else %}
    <p>Hey, you don't have any tasks. Why not <a href="{% url 'task_create' %}">create some</a>?</p>
    {% endif %}

  </div>
</div>
{% endblock content %}