{% extends 'base.html' %}

    
{% block content %}
<div class="text-center mt-5 pt-5">
  <h1 class="display-1">Task Terminator</h1>
  <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi eos, deleniti dolor aperiam nostrum laboriosam.</p>

  <p class="py-2">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni odio accusamus excepturi quasi, reiciendis eaque impedit doloremque quaerat placeat sed in consequatur repellat voluptate? Ipsa libero et dignissimos quidem consectetur.
  </p>


  {% if not user.is_authenticated %}
  <a class="btn btn-success" href="{% url 'sign_up'%}">Join Now!</a>

  <a class="btn text-white" style="background-color: #0995ed" href="{% url 'login'%}">Login</a>
  {% else %}
  <a class="btn btn-success" href="{% url 'tasks_index' %}">View Tasks</a>
  {% endif %}

</div>

{% endblock content %}