{% extends 'base.html' %}


{% block content %}

<h1>Home Page</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni odio accusamus excepturi quasi, reiciendis eaque impedit doloremque quaerat placeat sed in consequatur repellat voluptate? Ipsa libero et dignissimos quidem consectetur.
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum minima molestiae, in beatae quidem architecto quasi delectus neque perspiciatis modi!
</p>
<a href="{% url 'sign_up'%}">Join Now!</a>
{% endblock content %}