

body {
    height: 100vh;
    width: 100vw;
    font-family: "Jost", sans-serif;
    text-align: center;
  }
  
.nav {
    display: inline-block;
    float: none;
}

#nav-wrapper{
text-align: center;
}

.nav-wrapper{
    text-align: center;
}